---
type Props = {
  titleColor?: string;
};

const { titleColor = 'text-on-surface-50' } = Astro.props;
const placeholder = 'This is a text on default color';

const text = {
  on50: 'on 50',
  on100: 'on 100',
  on200: 'on 200',
  on300: 'on 300',
  on400: 'on 400',
  on500: 'on 500',
  on600: 'on 600',
  on700: 'on 700',
  on800: 'on 800',
  on900: 'on 900',
  on950: 'on 950',
};
---

<div class="space-y-4">
  <h3 class=`${titleColor}`>Surface</h3>

  <div class="rounded p-2 shadow-sm bg-surface text-on-surface">
    {placeholder}
  </div>

  <div class="grid grid-cols-5 gap-4 md:grid-cols-6 lg:grid-cols-11">
    <div class="rounded p-2 shadow-sm bg-surface-50 text-on-surface-50">
      <small>{text.on50}</small>
      <div class="h-4 w-full rounded bg-on-surface-50"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-100 text-on-surface-100">
      <small>{text.on100}</small>
      <div class="h-4 w-full rounded bg-on-surface-100"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-200 text-on-surface-200">
      <small>{text.on200}</small>
      <div class="h-4 w-full rounded bg-on-surface-200"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-300 text-on-surface-300">
      <small>{text.on300}</small>
      <div class="h-4 w-full rounded bg-on-surface-300"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-400 text-on-surface-400">
      <small>{text.on400}</small>
      <div class="h-4 w-full rounded bg-on-surface-400"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-500 text-on-surface-500">
      <small>{text.on500}</small>
      <div class="h-4 w-full rounded bg-on-surface-500"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-600 text-on-surface-600">
      <small>{text.on600}</small>
      <div class="h-4 w-full rounded bg-on-surface-600"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-700 text-on-surface-700">
      <small>{text.on700}</small>
      <div class="h-4 w-full rounded bg-on-surface-700"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-800 text-on-surface-800">
      <small>{text.on800}</small>
      <div class="h-4 w-full rounded bg-on-surface-800"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-900 text-on-surface-900">
      <small>{text.on900}</small>
      <div class="h-4 w-full rounded bg-on-surface-900"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-surface-950 text-on-surface-950">
      <small>{text.on950}</small>
      <div class="h-4 w-full rounded bg-on-surface-950">
    </div>
  </div>
</div>

<div class="space-y-4">
  <h3 class=`${titleColor}`>Primary</h3>

  <div class="rounded p-2 shadow-sm bg-primary text-on-primary">
    {placeholder}
  </div>

  <div class="grid grid-cols-5 gap-4 md:grid-cols-6 lg:grid-cols-11">
    <div class="rounded p-2 shadow-sm bg-primary-50 text-on-primary-50">
      <small>{text.on50}</small>
      <div class="h-4 w-full rounded bg-on-primary-50"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-100 text-on-primary-100">
      <small>{text.on100}</small>
      <div class="h-4 w-full rounded bg-on-primary-100"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-200 text-on-primary-200">
      <small>{text.on200}</small>
      <div class="h-4 w-full rounded bg-on-primary-200"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-300 text-on-primary-300">
      <small>{text.on300}</small>
      <div class="h-4 w-full rounded bg-on-primary-300"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-400 text-on-primary-400">
      <small>{text.on400}</small>
      <div class="h-4 w-full rounded bg-on-primary-400"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-500 text-on-primary-500">
      <small>{text.on500}</small>
      <div class="h-4 w-full rounded bg-on-primary-500"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-600 text-on-primary-600">
      <small>{text.on600}</small>
      <div class="h-4 w-full rounded bg-on-primary-600"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-700 text-on-primary-700">
      <small>{text.on700}</small>
      <div class="h-4 w-full rounded bg-on-primary-700"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-800 text-on-primary-800">
      <small>{text.on800}</small>
      <div class="h-4 w-full rounded bg-on-primary-800"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-900 text-on-primary-900">
      <small>{text.on900}</small>
      <div class="h-4 w-full rounded bg-on-primary-900"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-primary-950 text-on-primary-950">
      <small>{text.on950}</small>
      <div class="h-4 w-full rounded bg-on-primary-950"></div>
    </div>
  </div>
</div>

<div class="space-y-4">
  <h3 class=`${titleColor}`>Secondary</h3>

  <p class="rounded p-2 shadow-sm bg-secondary text-on-secondary">
    {placeholder}
  </p>

  <div class="grid grid-cols-5 gap-4 md:grid-cols-6 lg:grid-cols-11">
    <div class="rounded p-2 shadow-sm bg-secondary-50 text-on-secondary-50">
      <small>{text.on50}</small>
      <div class="h-4 w-full rounded bg-on-secondary-50"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-100 text-on-secondary-100">
      <small>{text.on100}</small>
      <div class="h-4 w-full rounded bg-on-secondary-100"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-200 text-on-secondary-200">
      <small>{text.on200}</small>
      <div class="h-4 w-full rounded bg-on-secondary-200"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-300 text-on-secondary-300">
      <small>{text.on300}</small>
      <div class="h-4 w-full rounded bg-on-secondary-300"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-400 text-on-secondary-400">
      <small>{text.on400}</small>
      <div class="h-4 w-full rounded bg-on-secondary-400"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-500 text-on-secondary-500">
      <small>{text.on500}</small>
      <div class="h-4 w-full rounded bg-on-secondary-500"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-600 text-on-secondary-600">
      <small>{text.on600}</small>
      <div class="h-4 w-full rounded bg-on-secondary-600"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-700 text-on-secondary-700">
      <small>{text.on700}</small>
      <div class="h-4 w-full rounded bg-on-secondary-700"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-800 text-on-secondary-800">
      <small>{text.on800}</small>
      <div class="h-4 w-full rounded bg-on-secondary-800"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-900 text-on-secondary-900">
      <small>{text.on900}</small>
      <div class="h-4 w-full rounded bg-on-secondary-900"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-950 text-on-secondary-950">
      <small>{text.on950}</small>
      <div class="h-4 w-full rounded bg-on-secondary-950">
    </div>
  </div>
</div>

<div class="space-y-4">
  <h3 class=`${titleColor}`>Tertiary</h3>

  <p class="rounded p-2 shadow-sm bg-tertiary text-on-tertiary">
    {placeholder}
  </p>

  <div class="grid grid-cols-5 gap-4 md:grid-cols-6 lg:grid-cols-11">
    <div class="rounded p-2 shadow-sm bg-tertiary-50 text-on-tertiary-50">
      <small>{text.on50}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-50"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-100 text-on-tertiary-100">
      <small>{text.on100}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-100"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-200 text-on-tertiary-200">
      <small>{text.on200}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-200"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-300 text-on-tertiary-300">
      <small>{text.on300}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-300"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-400 text-on-tertiary-400">
      <small>{text.on400}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-400"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-500 text-on-tertiary-500">
      <small>{text.on500}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-500"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-600 text-on-tertiary-600">
      <small>{text.on600}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-600"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-700 text-on-tertiary-700">
      <small>{text.on700}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-700"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-800 text-on-tertiary-800">
      <small>{text.on800}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-800"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-tertiary-900 text-on-tertiary-900">
      <small>{text.on900}</small>
      <div class="h-4 w-full rounded bg-on-tertiary-900"></div>
    </div>

    <div class="rounded p-2 shadow-sm bg-secondary-950 text-on-secondary-950">
      <small>{text.on950}</small>
      <div class="h-4 w-full rounded bg-on-secondary-950">
    </div>
  </div>
</div>
