---
type Props = {
  position: 'left-bottom-to-top' | 'right-top-to-bottom';
  color: string;
  height?: string;
  opacity?: string;
  blur?: string;
  className?: string;
};

const {
  position,
  color,
  height = 'h-2/4',
  opacity = 'opacity-10',
  blur = 'blur-3xl',
  className,
} = Astro.props;
---

<div
  class:list={{
    ['fixed -z-10 aspect-1  rounded-full transition-all duration-1000']: true,
    [`${height} ${opacity} ${blur}`]: true,
    [`${color} ${className}`]: true,
    ['right-0 top-[75%] dark:top-0']: position === 'right-top-to-bottom',
    ['bottom-[75%] left-0 dark:bottom-0']: position === 'left-bottom-to-top',
  }}
>
</div>
